[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/NvChad/NvChad
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = git@github.com:laiyk5/ohmyzsh.git
	branch = master
